.cardtampilmobil {
    max-width: 15rem;
    padding: 10px;
    margin: 10px;
}

.rowcard {
    justify-content: space-between;
}

.rowbackcolor {
    height: 200px;
    background-color: #f1f3ff;
}

.paddingshowcard {
    margin-bottom: 70px;
}