.color {
    background-color: brown;
}

.navbarcolor {
    width: 100%;
    background-color: #f1f3ff;
    justify-content: space-between;
}

.navbarcontainer {
    display: flex;
    /* justify-content: space-between; */
    /* padding: 0 30px; */
}

.navbarblok {
    display: flex;
    justify-content: space-between;
}

.navbarpopmenu {
    justify-content: end;
    background-color: bisque;
}

.teswarna {
    background-color: aqua;
}

@media screen and (max-width : 600px) {
    .navbarcontainer {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }

}


/* Navbar Baru */

/* *,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(204, 204, 204);
} */

.navbarbrand {
    padding-top: 15px;
    margin: 0;
    list-style: none;
}

.linav {
    padding-top: 15px;
    list-style: none;
    justify-content: center;
    justify-items: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background-color: #f1f3ff;
  /* background: rgb(0, 33, 65); */
}
.nav__brand {
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

.nav__link {
    color: black;
}

@media screen and (max-width: 768px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content:space-between;
        height: 10vh;
        background-color: #f1f3ff;
        /* background: rgb(0, 33, 65); */
        }

    .nav__toggler {
        display: block;
        cursor: pointer;
        padding-right: 40px;
    }

    .nav__menu {
        position: fixed;
        top: 7vh;
        right: 0;
        height: 93vh;
        width: 70%;
        background-color: #f1f3ff;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        justify-content: start;
        padding-top: 50px;
        padding-left: 0px;
    }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}